
@media only screen and (max-width: 1335px) {
  .container {
    width: 1170px;
  }
  .logo-wrap {
    margin-right: 15px;
  }
  .header-item b,
  .header-item a {
    font-size: 18px;
  }
  .header-item {
    margin-right: 35px;
  }
  .nav li a {
    padding: 0 21px;
  }
  .showcase-item {
    width: 370px;
    padding: 30px 5px 0 20px;
    margin-right: 28px;
  }
  .main-news-item {
    width: 370px;
    margin-right: 26px;
  }
  .showcase-item p {
    font-size: 22px;
    padding-left: 20px;
  }
  .about-content {
    width: 540px;
  }
  .about-head p {
    font-size: 26px;
  }
  .service-item {
    width: 370px;
    margin-right: 20px;
    padding: 40px 25px 0;
  }
  .service-item__head {
    font-size: 22px;
  }
  .service-item p {
    font-size: 14px;
  }
  .service-link a {
    padding: 16px 60px 14px 22px;
  }
  .service-link a:after {
    top: 7px;
  }
  
  /* Info */
  
  .info-item-head__text {
    font-size: 18px;
  }
  
  /* Contacts */
  
  .contacts-item,
  .contacts-item:last-child {
    width: 520px;
  }
  .contacts-item {
    margin-right: 80px;
  }
  .contacts-item-par b {
    width: 230px;
    line-height: 1.3;
  }
  .contacts-item-par b br {
    display: none;
  }
  .map {
    height: 400px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .logo {
    width: 200px;
    margin-right: 8px;
  }
  .logo-wrap {
    width: 314px;
    margin-right: 5px;
  }
  .logo-wrap b {
    width: 100px;
    margin-top: 13px;
    font-size: 12px;
  }
  .link a {
    font-size: 12px;
    padding: 21px 50px 17px 15px;
  }
  .nav li a {
    font-size: 14px;
  }
  .header-item {
    margin-right: 20px;
    width: 177px;
  }
  .header-item b, .header-item a,
  .header-item span {
    font-size: 16px;
  }
  .head p {
    font-size: 30px;
  }
  .showcase {
    height: 450px;
  }
  .showcase-item img {
    width: 60px;
  }
  .showcase-item p {
    width: 210px;
    font-size: 18px;
  }
  .showcase-item {
    width: 304px;
    height: 115px;
  }
  .main-news-item {
    width: 305px;
    padding-left: 30px;
  }
  .main-news-content span {
    margin-bottom: 12px;
    font-size: 12px;
  }
  .main-news__head {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .main-news-content p,
  .main-news-content p a,
  .about span {
    font-size: 14px;
  }
  .about {
    padding: 24px 0;
  }
  .about-img {
    width: 470px;
    top: 30px;
  }
  .about-content {
    width: 460px;
  }
  .about-head p {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .service-item {
    width: 303px;
    padding: 28px 15px 0;
  }
  .service-link {
    left: 15px;
  }
  .service-link a {
    padding: 16px 50px 14px 15px;
  }
  .service-link a:after {
    top: 6px;
    right: 6px;
  }
  
  /* News */
  
  .news .main-news-item {
    width: auto;
  }
  .pagination {
    margin: 60px auto;
  }
  
  /* Info */
  
  .info-item-head__text {
    font-size: 16px;
    padding-left: 14px;
  }
  .info-item-content {
    padding-left: 106px;
  }
  .info-item-head,
  .info-item-head__icon {
    height: 70px;
  }
  
  /* Contacts */
  
  .contacts-item {
    display: block;
    margin: 0 auto 20px;
    width: auto;
  }
  .contacts-item:last-child {
    width: auto;
    margin: auto;
  }
  .contacts-item-par b,
  .contacts-item:last-child .contacts-item-par b {
    width: 330px;
  }
  .contacts-item-par b br {
    display: block;
  }
  .map {
    height: 300px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .logo-wrap {
    float: none;
    margin: 0 auto 20px;
  }
  .header-item {
    width: 200px;
  }
  .nav {
    text-align: center;
  }
  .nav li a {
    font-size: 12px;
    padding: 0 11px;
  }
  .showcase {
    height: 350px;
  }
  .showcase-item {
    width: 243px;
    height: 94px;
    padding: 20px 5px 0 12px;
    margin-right: 10px;
  }
  .showcase-item p {
    width: 175px;
    font-size: 16px;
    padding-left: 10px;
  }
  .showcase-item img {
    width: 50px;
  }
  .head p {
    font-size: 22px;
  }
  .main-news-item {
    width: 240px;
    margin-right: 9px;
  }
  .about-img {
    width: 370px;
  }
  .about-content {
    width: 360px;
  }
  .about span {
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .link a {
    padding: 17px 50px 14px 15px;
  }
  .link a:after {
    top: 7px;
    right: 7px;
  }
  .service-items {
    text-align: center;
  }
  .service-item {
    margin: 0 10px 20px;
    text-align: left;
  }
  
  /* Info */
  
  .info-item-head__text {
    font-size: 14px;
    line-height: 1.1;
    width: 350px;
  }
  .info-item-content {
    padding-left: 25px;
  }
  .info-item-content a {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  /* Contacts */
  
  .contacts-item {
    text-align: center;
  }
  .contacts-item-par b, .contacts-item:last-child .contacts-item-par b {
    display: block;
    width: auto;
    margin-bottom: 10px;
  }
  .contacts-item-content {
    display: block;
    width: auto;
  }
  .map {
    height: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .header-item {
    width: 183px;
  }
  .header-items {
    float: none;
    margin-bottom: 20px;
    text-align: center;
  }
  .header-link {
    float: none;
    text-align: center;
  }
  .burger-wrap {
    display: block;
    width: 30px;
    padding: 10px 0;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before, .burger-wrap a span:after {
    position: absolute;
    background: #fff;
    content: '';
    width: 30px;
    height: 5px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 7px;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }

  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
  .nav-wrap {
    background: #5c9800;
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
  }
  .nav.active {
    opacity: 1;
    visibility: visible;
  }
  .nav li {
    display: block;
  }
  .nav li a {
    width: 100%;
  }
  .showcase-wrap {
    margin-top: 0;
  }
  .showcase-items {
    right: 0;
  }
  .showcase-item {
    display: block;
    margin: 0 auto;
  }
  .showcase-item:last-child,
  .main-news-item:nth-child(3n),
  .service-item:nth-child(3n) {
    margin: auto;
  }
  .main-news-item {
    width: 290px;
    display: block;
    margin: 0 auto 20px;
  }
  .main-news__head {
    font-size: 17px;
  }
  .about-img {
    display: none;
  }
  .about-content {
    width: auto;
  }
  .head p {
    font-size: 20px;
  }
  .about {
    margin-bottom: 40px;
  }
  .service-item {
    display: block;
    margin: 0 auto 20px;
  }
  
  /* News */
  
  .news .main-news-item {
    margin-bottom: 40px;
  }
  
  .pagination .pagination__arrows {
    margin-right: 26px;
  }
  .pagination .pagination__arrows:last-child {
    margin-left: 26px;
  }
  
  /* Info */
  
  
}

@media only screen and (max-width: 450px) {
  .logo-wrap {
    width: 290px;
    text-align: center;
  }
  .logo-wrap b {
    display: block;
    width: auto;
  }
  .header-item {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
  }
  .header-item:last-child {
    margin: auto;
  }
  .service-item {
    width: 290px;
  }
  .service-items {
    margin: 0;
  }
  
  /* News */
  
  .pagination .pagination__arrows {
    margin-right: 3px;
  }
  .pagination .pagination__arrows:last-child {
    margin-left: 3px;
  }
  .pagination li {
    margin-right: 2px;
  }
  
  /* Info */
  
  .info-item-head__text {
    width: 290px;
  }
  .info-item-head__text {
    font-size: 12px;
  }
  .info-item-content a {
    font-size: 12px;
    margin-bottom: 10px;
  }
}